In [1]:
import pandas as pd

In [32]:
df = pd.read_csv("data.csv", sep = ";", encoding = "utf-8")

In [33]:
print(len(df.index))

8110

In [34]:
df["countrycode"].value_counts()

China                 3387
India                 1001
Turkey                 695
Vietnam                628
Bangladesh             579
Indonesia              280
Cambodia               263
Mexico                 211
Sri Lanka              202
Korea, Republic of     177
Pakistan               134
Thailand               111
Myanmar                106
Taiwan, China           87
Egypt                   43
Tunisia                 39
Philippines             33
Guatemala               31
Morocco                 27
Malaysia                25
El Salvador             20
Honduras                15
Ethiopia                11
Peru                     4
Singapore                1
Name: countrycode, dtype: int64

In [35]:
df["country_parent_num"].value_counts()[:30]

China                      2865
India                      1006
Turkey                      693
Hong Kong, China            633
Bangladesh                  469
Korea, Republic of          415
Taiwan, China               302
Vietnam                     294
Sri Lanka                   185
Mexico                      173
Indonesia                   162
United States               147
Pakistan                    130
Thailand                     86
Singapore                    56
Malaysia                     44
United Kingdom               42
Japan                        38
Egypt                        34
Morocco                      24
Tunisia                      23
Virgin Islands, British      20
Philippines                  19
United Arab Emirates         19
Guatemala                    19
Myanmar                      16
Cambodia                     15
El Salvador                  10
Germany                       9
1021                          8
Name: country_parent_num, dtype: int64

In [36]:
workers_total = 0
for column in df.columns:
    if "b" in column and "_" in column and not "DICH" in column:
        workers_list = df.loc[df[column].notna()][column].tolist()
        for factory in workers_list:
            workers_total += factory
workers_total

9552500.0